            .attribution {
                font-size: 11px;
                text-align: center;
                margin-top: 40px;
            }
            
            .attribution a {
                color: hsl(228, 45%, 44%);
            }
            
            body {
                background-color: hsl(212, 45%, 89%);
            }
            
            .card {
                background-color: hsl(0, 0%, 100%);
                max-width: 270px;
                border-radius: 15px;
                padding: 15px;
                margin: auto;
                align-content: center;
                height: max-content;
                text-align: center;
            }
            
            .card img {
                max-width: max-content;
                height: 270px;
                border-radius: 10px;
            }
            
            .card p {
                font-size: 15px;
                color: hsl(220, 15%, 55%);
                text-align: center;
            }
            
            .outer {
                display: flex;
                justify-content: center;
                flex-direction: column;
                height: 90vh;
            }
            
            .inner {
                font-family: "Outfit", sans-serif;
                font-weight: 400;
            }
            
            @media only screen and (max-width: 900px) {
                .card {
                    width: 90%;
                }
                .card img {
                    width: 100%;
                }
                .outer {
                    height: 89.7vh;
                    margin: auto;
                }
            }
